* {
  padding: 0;
  margin: 0 auto;
}
body {
  font-family: 'DM Sans', sans-serif;
  text-align: justify;
  overflow-x: hidden;
  font-size: 18pt;

}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}
nav {
  margin-right: 40px;
  background-color: #000000 !important;
}
b{
  color: red;
}
.nav-link {
  justify-content: end;
}
.nav-item{
  padding: 15px;
}
span{
  padding: 10px;
}
header {
  background-color: #000000;
  max-width: 100%;
  /* opacity: 0.91; */
  height: 97vh;
}
.logo-principal{
  display: block;
  max-width: 10%;

}
.banner {
  display: block;
  margin-left: 300px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1.9));
  position: absolute;
}

section{
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 1096px;
  padding: 20px;
}
/* logo inicial */



.section-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-2{
  margin-top: 75px;
  margin-bottom: 75px;
}
.imagem1{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.imagem2{
  max-width: 100%;
}
.imagem3{
  max-width: 100%;
}
/*vantagens*/
.card-vantagens {
  background-color: #ebebeb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: none;
  height: 350px; /* Altura fixa para todos os cards */
}
.card-title{
  text-align: left;
  font-weight: bold;
}
.card-subtitle{
  padding: 20px;
  text-align: left;
}
.card-vantagens:hover{
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.643);
}
.button-container {
  text-align: center;
}
.button-container{
  padding: 50px;
}
.button-container button {

  border-radius: 25px 25px 25px 25px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}

.start-button {
  background-color: #b90d0d;
  color: white;
  border: none;
}
.start-button:hover {
  background-color: #eeeeee;
  color: white;
}

.learn-more-button {
  color: black;
  border: solid 20px solid;
}

/*end vantagens*/

/*depoimentos*/
.titulo-depoimentos{
  color: #f4f4f4;
}
.depoimentos {
  background-color: #000000 !important;
  width: 100%; /* Define a largura da seção de depoimentos como 100% */
  margin-left: auto; /* Alinha a seção de depoimentos à esquerda */
  margin-right: auto; /* Alinha a seção de depoimentos à direita */
  padding: 30px;
}
.card-depoimentos{
  background-color: #222629;
  padding: 40px;
  max-width: 700px;
}
.user-profile {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px; /* Aumenta a margem entre a foto do perfil e o nome */
}

.user-name {
  margin-left: 50px; /* Aumenta a margem entre o nome e a foto do perfil */
  color: #ffffff;
}
.rating {
  margin-top: 10px;
}

.rating i {
  color: gold;
  font-size: 24px;
}


.card-depoimentos {
  display: none;
}

.card-depoimentos.active {
  display: block;
}

/*end depoimentos*/



/*professor*/
.professor{
  background-color: #222629;
}
.card-professor{
  background-color: #222629;
  padding: 60px;
}

.professor-head{
  padding: 30px;
}
.titulo-professor{
  color: #ffffff;
}
.subtitulo-professor{
  color: #ffffff;
}
.apresentacao{
  font-family: 50pt;
}


.card-vantagens-icons{
  background-color: #f4dfdd;
  padding: 20px;
  color: #dc3545; 
  font-weight: bold;
  border-radius: 100%;
  margin-left: 10%;
  margin-top: 10%;
}
/*end professor*/

.novidades{
  background-color: #ffffff; /* Cor de fundo da div newsletter */
}

.newsletter {
  background-color: #222629; /* Cor de fundo da div newsletter */
  padding: 20px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada */
  color: #ffffff; /* Cor do texto do botão */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.btn-danger {
  background-color: #dc3545; /* Cor de fundo do botão vermelho */
  color: #ffffff; /* Cor do texto do botão */
  border: none; /* Remove a borda */
  margin-top: 10px; /* Adiciona um espaçamento superior para separar o botão do parágrafo */
}

.btn-danger:hover {
  background-color: #c82333; /* Cor de fundo do botão vermelho ao passar o mouse */
}
.footer {

  color: #000000; /* Cor do texto */
  padding: 50px 0; /* Espaçamento interno */
}

.footer-logo {
  width: 100px; /* Largura do logo */
}

.footer h5 {
  color: #000000; /* Cor do título */
  font-size: 1.2rem; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaçamento inferior */
}

.footer ul {
  list-style: none; /* Remove as bolinhas da lista */
  padding: 0; /* Remove o espaçamento interno */
}

.footer ul li {
  margin-bottom: 10px; /* Espaçamento inferior entre os itens da lista */
}

.footer ul li a {
  color: #000000; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado */
}

.footer ul li a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link */
}

.section-logo-footer{
  width: 50%;
}

/*whatsaap button style*/

#whatsapp-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  background-color: #b90d0d;
  border-radius: 50px;
  color: #ffffff;
  text-decoration: none;
  width: calc(60px + 6px); /* Aumenta 10% do width atual */
  height: calc(60px + 6px); /* Aumenta 10% do height atual */
  font-size: calc(40px + 4px); /* Aumenta 10% do font-size atual */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  animation: effect 5s infinite ease-in;
}

#whatsapp-button:hover {
  background-color: #ff0000;
  color: #ffffff;
}

/*whatsaap button style*/


/* =======================anime====================================== */
[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-90px, 0, 0);

}

[data-anime="left"].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* =======================anime====================================== */